/*########### Defaults #############*/
nav,
header,
footer{
    display: block;
}

body{
    line-height: 1;
    margin: 0;
}

/*######### Nav Bar ############*/

nav{
    width: 100%;
    margin: 0px;
    padding-bottom: 100px;
}

nav ul{
    background-color: #eee;
    overflow: hidden;
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}

/*########## Footer ############*/
footer.footsy{
    background-color:#666;
    padding: 10%; 
    
}

footer.footsy h1{
    color: white;
    font-size: 35px;
}

footer.footsy ul{
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.footsy ul li{
    color: #fff;
    font-size: 22px;
    line-height: 1;
}

.col-3{
    width: 100%;
    margin: 0;
}

div.mobileStack{
    width: 50%;
    display: block;
}
