div h1{
  color: black;  
}

#foo{
    color: red;
}

h1 {
    color: green !important;
}

h1,h2,h3{
    color: fuchsia;
    text-align: center;
    line-height: 1rem;
    font-family: sans-serif;
}

body{
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
}


.container{
/*
    background: linear-gradient(to right,blue,red);
    box-shadow: 5px 5px 3px yellow;
*/
}

.borderImg{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid #ddd;
    padding: 5px;
    
}

img{
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity: 1;
    margin-right: auto;
    display: block;
}

ul li{
    color: blueviolet;
    font-size: 20px;
}

ul > li{
    color: royalblue;
    font-size: 30px;
}

button{
    color: white;
    background: red;
    border-radius: 12px;
    border: none;
    font-size: 55;
    padding: 10px 20px 15px 39px;
    
}

.row{
    display: flex;
    width: 100%;
}

.row::after{
    display: block;
    clear: both;
    content: "";
}

.col-1{ width: 8.33%};
.col-2{ width: 16.66%};
.col-3{ width: 25%};
.col-4{ width: 33.33%};
.col-5{ width: 41.66%};
.col-6{ width: 50%};
.col-7{ width: 58.33%};
.col-8{ width: 66.66%};
.col-9{ width: 75%};
.col-10{ width: 83.33%};
.col-11{ width: 91.66%};
.col-12{ width: 100%};

*{
    box-sizing: border-box;
}

[class* ="col-"]{
    border: 2px solid red;
    padding: 15px;
}